*{padding: 0;
  margin: 0;
  box-sizing: border-box;}

body{font-family: hervetica, sans-serif;
    background-color: #121826;
    color: #fff;}

h1{color: #3B82F6;}

.header{margin-bottom: 20px;}

.hero{text-align:center;}

.secondary{color: lightgray;}
nav{
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   text-align: center;}

 nav ul{display: flex;
      list-style: none;
      gap: 20px;
      padding: 0;
       justify-content: center;}

nav a{text-decoration: none;
     color: #fff;}
nav a:hover{color: #3B82F6;
           transition: 0.3s ease;}
       
h1{margin-bottom: 20px;}

h2{margin-bottom: 20px;}

p{margin-bottom: 20px;}

input{margin-right: 10px;
      padding: 10px;
      margin-bottom: 20px;}

button{padding: 10px 20px;
       background-color: #3B82F6;
       color: white;
       border: none;
      border-radius: 5px;
      margin-right: 10px;}
button:hover{background-color: white;
            color: #3B82F6;}

.task-card{padding: 10px;
           margin-bottom: 10px;
           background-color: #1e293b;
          border-radius: 5px;
          border: 1px solid #3B82F6;
          height: 100px;
          width: 170px;
          margin-bottom: 20px;
          
          
           }

.task-card p{margin-bottom: 10px;}

.completed{background-color: #2563EB;}

.completed p{text-decoration: line-through;}